/Exercicio1.class
/Exercicio2.class
/Exercicio3.class
/Exercicio4.class
/Exercicio5.class
/SET_ConjuntoArrumado.class
/SET_ConjutoBaguncado.class
/arrays.class
/fila.class
/lista.class
/mapa.class
/pilha.class
