/Controlewhile.class
/ExCalculaMedia.class
/ExImprimeMaiorEntre10.class
/ExJogoAdivinhacao.class
/ExTransformaPalavraLista.class
/ExVerificaBissexto.class
/ExVerificaEntre0e10.class
/controleBreak.class
/controleSwitch.class
/estrutuaFor.class
/estruturaIf.class
/ifElse.class
/somaPositivoWhile.class
/verificaPrimo.class
